/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.class

# Package Files #
*.jar
*.war
*.ear
.idea
*.iml
*.lst

#project file #
.project
.classpath
.settings/
target/*
test-output/*
/target/

application-local