<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bsehk.business.dao.mapper.VenueMapper">
  <resultMap id="BaseResultMap" type="com.bsehk.business.domain.Venue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="venue_name" jdbcType="VARCHAR" property="venueName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="venue_category" jdbcType="INTEGER" property="venueCategory" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="district_id" jdbcType="BIGINT" property="districtId" />
    <result column="detail_location" jdbcType="VARCHAR" property="detailLocation" />
    <result column="longitude" jdbcType="DOUBLE" property="longitude" />
    <result column="latitude" jdbcType="DOUBLE" property="latitude" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="start_week" jdbcType="TINYINT" property="startWeek" />
    <result column="end_week" jdbcType="TINYINT" property="endWeek" />
    <result column="open_time" jdbcType="TIME" property="openTime" />
    <result column="end_time" jdbcType="TIME" property="endTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand_id, venue_name, url, venue_category, province_id, city_id, district_id,
    detail_location, longitude, latitude, intro, mobile, start_week, end_week, open_time,
    end_time, gmt_create, gmt_modified, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from venue
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from venue
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bsehk.business.domain.Venue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into venue (brand_id, venue_name, url,
    venue_category, province_id, city_id,
    district_id, detail_location, longitude,
    latitude, intro, mobile,
    start_week, end_week, open_time,
    end_time, gmt_create, gmt_modified,
    is_delete)
    values (#{brandId,jdbcType=BIGINT}, #{venueName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
    #{venueCategory,jdbcType=INTEGER}, #{provinceId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT},
    #{districtId,jdbcType=BIGINT}, #{detailLocation,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE},
    #{latitude,jdbcType=DOUBLE}, #{intro,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
    #{startWeek,jdbcType=TINYINT}, #{endWeek,jdbcType=TINYINT}, #{openTime,jdbcType=TIME},
    #{endTime,jdbcType=TIME}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
    #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bsehk.business.domain.Venue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into venue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="venueName != null">
        venue_name,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="venueCategory != null">
        venue_category,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="detailLocation != null">
        detail_location,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="startWeek != null">
        start_week,
      </if>
      <if test="endWeek != null">
        end_week,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="venueName != null">
        #{venueName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="venueCategory != null">
        #{venueCategory,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=BIGINT},
      </if>
      <if test="detailLocation != null">
        #{detailLocation,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="startWeek != null">
        #{startWeek,jdbcType=TINYINT},
      </if>
      <if test="endWeek != null">
        #{endWeek,jdbcType=TINYINT},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIME},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsehk.business.domain.Venue">
    update venue
    <set>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="venueName != null">
        venue_name = #{venueName,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="venueCategory != null">
        venue_category = #{venueCategory,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=BIGINT},
      </if>
      <if test="detailLocation != null">
        detail_location = #{detailLocation,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="startWeek != null">
        start_week = #{startWeek,jdbcType=TINYINT},
      </if>
      <if test="endWeek != null">
        end_week = #{endWeek,jdbcType=TINYINT},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIME},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsehk.business.domain.Venue">
    update venue
    set brand_id = #{brandId,jdbcType=BIGINT},
      venue_name = #{venueName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      venue_category = #{venueCategory,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      district_id = #{districtId,jdbcType=BIGINT},
      detail_location = #{detailLocation,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      intro = #{intro,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      start_week = #{startWeek,jdbcType=TINYINT},
      end_week = #{endWeek,jdbcType=TINYINT},
      open_time = #{openTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="searchVenue"  resultMap="BaseResultMap">
    select DISTINCT
    venue.id AS  id,
    venue.venue_name AS venue_name,
    venue.venue_category AS venue_category,
    venue.province_id AS province_id,
    venue.city_id AS city_id,
    venue.district_id as district_id,
    venue.detail_location AS detail_location,
    venue.longitude as longitude,
    venue.latitude as latitude
    from
    venue
    INNER JOIN
    venue_sport_category vsc
    ON  venue.id = vsc.venue_id
    where
    <if test="cityId != null and cityId > 0">
      venue.city_id = #{cityId} AND
    </if>
    <if test="cityId != null and cityId &lt; 0">
      venue.province_id = abs( #{cityId} )AND
    </if>
    <if test="list.size > 0">
      vsc.sport_category_id  IN
      <foreach collection="list" open="(" close=")" item="id" separator="," >
        #{id}
      </foreach>
      AND
    </if>
    <if test="venueName != null">
      venue.venue_name LIKE concat('%',#{venueName},'%') AND
    </if>
    1 = 1
  </select>

</mapper>